{% extends 'base.html.twig' %}

{% block title %}Hello HelperController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Helper</h1>
    <p>{{ saludo1 }} </p>
    <p>{{ saludo2 }} </p>
</div>
{% endblock %}
